In [ ]:
import pandas as pd
import warnings

In [1]:
warnings.filterwarnings("ignore")

NameError: name 'warnings' is not defined

In [ ]:
df = pd.read_excel("Dataset.xlsx")

In [ ]:
dataset = pd.DataFrame(df)

In [ ]:
dataset.head(2)

,sr_no,uid,program_year,farmer_name,plantation_type_dense_fruit,total_land_area_acre,area_f4f_acre,District,Block,water_available,...,bhendi,shirish,ain,pimpal,vad,tamhan,waval,palas,babhul,bakul
0,1,id_1,2023,farmer_b,Fruit Tree,5,4,A,p,Yes,...,1,0,1,1,1,0,0,1,0,1
1,2,id_2,2023,farmer_c,Fruit Tree,5,30,A,p,Yes,...,1,0,1,1,1,1,0,0,0,1

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 64 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   sr_no                                  55 non-null     int64
 1   uid                                    55 non-null     object
 2   program_year                           55 non-null     int64
 3   farmer_name                            55 non-null     object
 4   plantation_type_dense_fruit            55 non-null     object
 5   total_land_area_acre                   55 non-null     int64
 6   area_f4f_acre                          55 non-null     int64
 7   district                               55 non-null     object
 8   block                                  55 non-null     object
 9   water_available                        55 non-null     object
 10  electricity_available                  55 non-null     object
 11  kml_uploaded                           55 non-null     object
 12  contract_uploaded                      55 non-null     object
 13  land_record_uploaded                   55 non-null     object
 14  cc_training_uploaded?                  55 non-null     object
 15  soil_sample_collected?                 55 non-null     object
 16  cc_training_date                       55 non-null     datetime64[ns]
 17  drone_ortho_taken                      55 non-null     object
 18  farmer_payment_collected               55 non-null     object
 19  farmer_payment_date                    55 non-null     datetime64[ns]
 20  amount                                 55 non-null     object
 21  mode_collection_cash_upi_banktransfer  55 non-null     object
 22  contract_date                          55 non-null     datetime64[ns]
 23  baseline_survey                        55 non-null     object
 24  plantation_date                        55 non-null     datetime64[ns]
 25  trees_planted                          55 non-null     int64
 26  mango_native                           55 non-null     int64
 27  mango_grafted_kesar                    55 non-null     int64
 28  lemon_sai_sharbati                     55 non-null     int64
 29  sitaphal_native                        55 non-null     int64
 30  sitaphal_golden                        55 non-null     int64
 31  sitaphal__balanagar                    55 non-null     int64
 32  awala                                  55 non-null     int64
 33  awala_grafted                          55 non-null     int64
 34  peru                                   55 non-null     int64
 35  peru_sardar                            55 non-null     int64
 36  chincha                                55 non-null     int64
 37  chincha_grafted                        55 non-null     int64
 38  jamun                                  55 non-null     int64
 39  jamun_bhardoli                         55 non-null     int64
 40  chikku                                 55 non-null     int64
 41  orange                                 55 non-null     int64
 42  mosambi                                55 non-null     int64
 43  dalimb                                 55 non-null     int64
 44  ramphal                                55 non-null     int64
 45  drumstick_koimb                        55 non-null     int64
 46  bamboo                                 55 non-null     int64
 47  karwand                                55 non-null     int64
 48  arjun                                  55 non-null     int64
 49  katesawar                              55 non-null     int64
 50  karanj                                 55 non-null     int64
 51  kaduneem                               55 non-null     int64
 52  kanchan                                55 non-null     int64
 53  kadamb                                 55 non-null     int64
 54  bhendi                                 55 non-null     int64
 55  shirish                                55 non-null     int64
 56  ain                                    55 non-null     int64
 57  pimpal                                 55 non-null     int64
 58  vad                                    55 non-null     int64
 59  tamhan                                 55 non-null     int64
 60  waval                                  55 non-null     int64
 61  palas                                  55 non-null     int64
 62  babhul                                 55 non-null     int64
 63  bakul                                  55 non-null     int64
dtypes: datetime64[ns](4), int64(43), object(17)
memory usage: 27.6+ KB

In [1]:
missing_values = dataset.isnull().sum()
missing_values = missing_values[missing_values > 0]

NameError: name 'dataset' is not defined

In [ ]:
missing_values

Series([], dtype: int64)

In [ ]:
dataset["amount"].fillna("0", inplace=True)

In [ ]:
dataset["mode_collection_cash_upi_banktransfer"].fillna("NA", inplace=True)

In [ ]:
dataset["farmer_payment_date"] = pd.to_datetime(dataset["farmer_payment_date"])

In [ ]:
dataset["farmer_payment_date"].fillna(method="ffill", inplace=True)

In [ ]:
dataset["plantation_date"] = pd.to_datetime(dataset["plantation_date"])

In [ ]:
dataset["plantation_date"].fillna(method="bfill", inplace=True)

In [ ]:
dataset.columns = dataset.columns.str.lower().str.replace(" ", "_")

In [ ]:
categorical_cols = ["farmer_name", "district", "block", "water_available", "electricity_available"]
for col in categorical_cols:
    dataset[col] = dataset[col].astype(str).str.title()

In [ ]:
numeric_cols = ["total_land_area_acre", "area_f4f_acre"]
dataset[numeric_cols] = dataset[numeric_cols].apply(pd.to_numeric, errors="coerce")

In [ ]:
dataset["area_f4f_acre"] = df.apply(
    lambda row: row["total_land_area_acre"] if row["area_f4f_acre"] > row["total_land_area_acre"] else row["area_f4f_acre"],
    axis=1
)

In [ ]:
dataset = dataset.drop_duplicates(subset=["uid"], keep="first")

In [ ]:
invalid_water_values = dataset[~dataset["water_available"].isin(["Yes", "No"])]
invalid_electricity_values = dataset[~dataset["electricity_available"].isin(["Yes", "No"])]

In [ ]:
cleaning_summary = {
    "Missing Values Fixed": missing_values.to_dict(),
    "Duplicate Entries Removed": dataset.shape[0] - dataset.shape[0],
    "Invalid Water Availability Values": invalid_water_values.shape[0],
    "Invalid Electricity Availability Values": invalid_electricity_values.shape[0],
    "Corrected Area Inconsistencies": (dataset["area_f4f_acre"] > dataset["total_land_area_acre"]).sum(),
}

In [ ]:
print(cleaning_summary)

{'Missing Values Fixed': {'farmer_payment_date': 36, 'amount': 35, 'mode_collection_cash_upi_banktransfer': 35, 'plantation_date': 2}, 'Duplicate Entries Removed': 0, 'Invalid Water Availability Values': 0, 'Invalid Electricity Availability Values': 2, 'Corrected Area Inconsistencies': np.int64(0)}

In [ ]:
dataset.to_excel("data_cleaned.xlsx", index=False)